.topnav {
    background-color: #333333;
    height: 62px;
}

.topnav-left {
    float: left;
}

.topnav-left > a:nth-child(1) {
    float: left;
    margin-top: 6px;
}

.topnav-left > ul:nth-child(2) {
    float: left;
    margin-left: 10px;
}
.topnav-left > ul:nth-child(2) > li {
    float: left;
}

.topnav-left > ul:nth-child(2) > li > a {
    float: left;
    color: #b2b2b2;
    line-height: 62px;
    font-size: 16px;
    margin-right: 40px;
    padding: 0 3px;
}

.topnav-left > ul:nth-child(2) > li > a:hover {
    color: #02bc01;
} 

.topnav-right {
    float: right;
    width: 288px;
    height: 33px;
    border: 1px solid #2b2a2a;
    border-radius: 6px;
    background-color: #444444;
    margin-top: 10px;
}

.topnav-right input {
    float: left;
    border-width: 0px;
    width: 240px;
    height: 20px;
    margin: 6px 0px 6px 10px;
    background-color: #444444;
    color: #999999;
}

.topnav-right a {
    float: right;
    width: 33px;
    height: 33px;
    color: #5b665b;
    line-height: 33px;
    text-align: center;
    /* background-color: #02bc01; */
}

.topnav-right a i.iconfont {
    font-size: 24px;
}

