@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    & {
        *zoom: 1;
    }
}

body {
    background-color: #fafafa;
}

.top {
    background-color: white;
}

.top-logo {
    float: left;
    a {
        display: block;
        padding-top: 15px;
    }
    img {
        width: 148px;
        height: 46px;
    }
}

.top-search {
    float: right;
    padding: 15px 0;
    @include clearfix();
    > div:nth-child(1) {
        float: left;
        position: relative;
        font-size: 14px;
        width: 398px;
        height: 36px;
        border-radius: 36px;
        border: 1px solid #1E9FFF;
        overflow: hidden;
        input {
            width: 100%;
            height: 100%;
            border: none;
            color: #181818;
            padding-right: 100px;
            padding-left: 20px;
        }
        button {
            position: absolute;
            top: -1px;
            right: 0;
            border: none;
            width: 80px;
            height: 36px;
            background-color: #1e9fff;
            color: white;
        }
    }
    div:nth-child(2) {
        float: left;
        position: relative;
        margin-left: 15px;
        i {
            color: #1E9FFF;
            font-size: 20px;
            line-height: 36px;
            cursor: pointer;
        }
    }
    span {
        position: absolute;
        display: none;
        background-color: white;
        z-index: 3;
        padding-left: 15px;
        padding-bottom: 10px;
        top: 36px;
        right: 0;
        padding-right: 10px;
        font-size: 14px;
        box-shadow: 0 3px 15px rgba(0,0,0,0.2);
        h5 {
            line-height: 40px;
            color: #666666;
            border-bottom: 1px solid #f5f5f5;
        }
        li {
            border-bottom: 1px solid #f5f5f5;
            height: 38px;
            line-height: 38px;
            width: 150px;
        }
        a {
            color: #1E9FFF;
        }
    }

    div:nth-child(2):hover span {
        display: block;
    }   
}

nav {
    background-color: #1E9FFF;
    .container > ul {
        @include clearfix();
    }
}

.nav-ul {
    > li {
        float: left;
        position: relative;
        color: rgba(255,255,255,0.5);
        font-size: 16px;
    }
    > li > a {
        display: block;
        position: relative;
        padding: 0 24px;
        height: 50px;
        color: white;
        line-height: 50px;
        font-size: 16px;
    }
    > li:nth-last-child(-n+10) > a:after {
        content: "|";
        display: block;
        position: absolute;
        color: rgba(255,255,255,0.5);
        top: 0;
        left: 0;
    }
    > li > a:hover:after {
        font-weight: normal;
    }
    > li:nth-child(1) a {
        padding-left: 0px;
    }
    > li > a:hover {
        font-weight: 700;
        text-decoration: none;
        color: white;
    }
    > li:last-child:before {
        content: "";
        position: absolute;
        top: 24px;
        left: 89px;
        display: block;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid white;
        border-bottom: 4px solid transparent;
    }
}

.nav-more {
    background-color: #1E9FFF;
    border-radius: 0;
    border: 1px solid white;
    right: 10px;
    top: 48px;
    li a {
        width: 100px;
        line-height: 45px;
        padding: 0;
        text-align: center;
        color: white;
    }
}

.notice {
    margin-top: 20px;
    .container {
        background-color: white;
        padding: 20px;
    }
    h5 {
        line-height: 32px;
        color: #181818;
        font-size: 20px;
        font-weight: 700;
    }
    h5 > button {
        color: #1E9FFF;
        border: none;
        background-color: white;
        padding: 0px;
    }
    .modal {
        width: 360px;
        margin: 10px auto;
    }
    .modal-dialog {
        width: 361px;
    }
    .modal-header {
        background-color: #f8f8f8;
        height: 45px;
        line-height: 45px;
        box-sizing: border-box;
        width: 360px;
        padding-top: 0px;
        padding-bottom: 0px;
        h4 {
            line-height: 45px;
            font-size: 14px;
            color: #333333;
        }
    }
    .modal-header .close {
        margin-top: 10px;
    }
    .modal-body {
        width: 360px;
    }
    .modal-footer {
        width: 360px;
        button:nth-child(1) {
            background-color: #1E9FFF;
            border-color: #1E9FFF;
        }
    }
}

// 主体栏

main {
    margin-top: 20px;
    .container {
        background-color: white;
        padding: 20px;
    }
}
.nav-tabs>li {
    float: left;
    width: 20%;
    margin-bottom: 0px;
}

.nav>li>a {
    border: none;
    height: 35px;
    line-height: 35px;
    padding: 0;
    text-align: center;
}

.nav-tabs {
    border-bottom: none;
    background-color: #f6f6f6;
}

.nav-tabs>li>a {
    margin-right: 0px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    color: #181818;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: pointer;
    background-color: #1E9FFF;
    border: none;
}

.main-tab1-top {
    width: 100%;
    ul {
        width: 100%;
        @include clearfix();
    }
    li {
        float: left;
        width: 14.285%;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 20px;
    }
    li > a {
        position: relative;
        display: block;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

    li > a:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.15);
        background-image: url(../img/video-play.png);
        background-position: center;
        background-repeat: no-repeat;
        transform: scale(1.5);
        opacity: 0;
        z-index: 2;
        transition: all ease-out .35s;
    }
    li > a:hover:before {
        opacity: 1;
        transform: scale(1);
    }

    span {
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: right;
        line-height: 33px;
        padding-top: 13px;
        padding-right: 10px;
        font-size: 12px;
        color: white;
        background-image: url(../img/video-mask.png);
        background-repeat: repeat-x;
    }

    h5 {
        margin-top: 8px;
        white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        a {
            color: #181818;
            transition: .3s color;
            line-height: 18px;
            
        }
        a:hover {
            color: #1e9fff;
            text-decoration: none;
        }
    }
    img {
        display: block;
        width: 100%;
        height: 195px;
        transition: all linear .3s;
    }

    a:hover img {
        transform: scale(1.1);
    }
}

.main-tab1-bottom {
    margin-top: 18px;
    border-top: 1px dashed #eee;
    padding-top: 15px;
    width: 100%;
    ul {
        width: 100%;
        overflow: hidden;
        padding-left: 10px;
    }
    li {
        position: relative;
        float: left;
        width: 25%;
        height: 27px;
        line-height: 27px;
        padding-left: 27px;
    }
    a {
        color: #1E9FFF;
    }
    i {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -60%);
    }
    span,
    s {
        color: #999999;
        text-decoration: none;
    }
}

.move {
    margin-top: 20px;
    .container {
        background-color: white;
        padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    }
    .move-left {
        float: left;
        width: 1008px;
    }
    .move-right {
        float: right;
        width: 152px;
    }
}

.move-left {
    h3 {
        line-height: 32px;
        a:nth-child(1) {
            float: left;
            position: relative;
            color: #181818;
            font-weight: 700;
            font-size: 20px;
            margin-left: 20px;
            transition: all .3s;
        }
        a:nth-child(1):hover {
            text-decoration: none;
            color: #1e9fff;
        }
        a:nth-child(1):before {
            content: "";
            position: absolute;
            top: 6px;
            left: -20px;
            display: block;
            width: 3px;
            height: 20px;
            background-color: #1e9fff;
        }
        a:nth-child(2) {
            float: right;
            color: #1e9fff;
            font-size: 14px;
        }
        a:nth-child(2):hover {
            text-decoration: none;
        }
    }
}

.move-left-content {
    width: 100%;
    ul {
        width: 100%;
        overflow: hidden;
    }
    li {
        float: left;
        width: 16.66666%;
        padding-top: 20px;
        padding-left: 20px;
    }
    li > a {
        position: relative;
        display: block;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

    li > a:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.15);
        background-image: url(../img/video-play.png);
        background-position: center;
        background-repeat: no-repeat;
        transform: scale(1.5);
        opacity: 0;
        z-index: 2;
        transition: all ease-out .35s;
    }
    li > a:hover:before {
        opacity: 1;
        transform: scale(1);
    }

    span {
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: right;
        line-height: 33px;
        padding-top: 13px;
        padding-right: 10px;
        font-size: 12px;
        color: white;
        background-image: url(../img/video-mask.png);
        background-repeat: repeat-x;
    }

    h5 {
        margin-top: 8px;
        white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        a {
            color: #181818;
            transition: .3s color;
            line-height: 18px;
            
        }
        a:hover {
            color: #1e9fff;
            text-decoration: none;
        }
    }
    img {
        display: block;
        width: 100%;
        height: 195px;
        transition: all linear .3s;
    }

    a:hover img {
        transform: scale(1.1);
    }

    p {
        width: 100%;
        color: #999999;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 0;
        line-height: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.move-right {
    ul {
        width: 100%;
    }
    li {
        width: 100%;
        line-height: 30px;
        overflow: hidden;
    }
    span:nth-child(1) {
        float: left;
        color: #1E9FFF;
    }
    span:nth-child(2) {
        float: right;
        width: 127px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    a {
        color: #333333;
        font-size: 14px;
        transition: .3s color;  
    }
    a:hover {
        color: #1e9fff;
        text-decoration: none;
    }
}

footer {
    background-color: #333333;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: #999999;
    p {
        line-height: 24px;
        font-size: 14px;
        margin: 0;
    }
}