.topnav {
    background-color: #333333;
    height: 62px;
}

.topnav-left {
    float: left;
}

.topnav-left > a:nth-child(1) {
    float: left;
    margin-top: 6px;
}

.topnav-left > ul:nth-child(2) {
    float: left;
    margin-left: 10px;
}
.topnav-left > ul:nth-child(2) > li {
    float: left;
}

.topnav-left > ul:nth-child(2) > li > a {
    float: left;
    color: #b2b2b2;
    line-height: 62px;
    font-size: 16px;
    margin-right: 40px;
    padding: 0 3px;
}

.topnav-left > ul:nth-child(2) > li > a:hover {
    color: #02bc01;
} 
